<h1>Brand new post</h1>

{{!-- {{#each model as |post|}}
  {{#blog-post title=post.title}}
    {{post.body}}
  {{/blog-post}}
{{/each}} --}}
{{input placeholder="Title" value=newTitle class="title"}}
{{input placeholder="Author" value=newAuthor class="author"}}
{{#link-to 'posts'}}
<button
  data-test="submit"
  {{action 'createPost' newTitle newAuthor}}
  class="submit">
  Create Post!
</button>{{/link-to}}
