<h1>Brand new post</h1>

{{!-- {{#each model as |post|}}
  {{#blog-post title=post.title}}
    {{post.body}}
  {{/blog-post}}
{{/each}} --}}
{{input placeholder="Title" value=newTitle}}
{{input placeholder="Author" value=newAuthor}}
<button {{action 'createPost' newTitle newAuthor}}>Create Post!</button>

