<h1>Brand new post</h1>

{{!-- {{#each model as |post|}}
  {{#blog-post title=post.title}}
    {{post.body}}
  {{/blog-post}}
{{/each}} --}}
	<form {{action "submitPost" on="submit"}}>
		{{input type="text" class="form-control" placeholder="Title" value=model.title}}
		<br>
		{{input type="text" class="form-control" placeholder="Description" value=model.author}}
		<br>
		<button class="btn btn-default" type="submit"> Add me</button>
	 </form>