<header>
   <h1>{{username}} Awesome Post Gallery</h1>
   <nav>
  {{#link-to "about"}}About{{/link-to}}
  {{#link-to "posts" }}Posts{{/link-to}}
  {{#link-to "posts.newpost"}}New Post{{/link-to}}
</nav>
</header>
<br><br>
{{outlet}}
<br><br>

<footer>Copyright © Vika 2016</footer>
